.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    input {
        margin-right: 24px;
        padding: 0 8px;
    }
}

.initial-message {
    text-align: center;
}

.no-repo-found-message {
    text-align: center;
    color: red;
}

.columns {
    flex-wrap: wrap;
}