.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    input {
        margin-right: 24px;
        padding: 0 8px;
    }
}

.no-repo-found-message {
    color: red;
}

.pagination-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button{
        margin: 0 4px;
    }
}