<div class="search-container">
  <input type="text" placeholder="Search by username" [(ngModel)]="searchTerm">
  <button class="button is-info" (click)="searchUserRepositories()"
    [disabled]="searchTerm.trim() === ''">Search</button>
</div>

<div *ngIf="!repositories" class="align-center capitalize-first-letter">
  enter a user name and search for their public repositories.
</div>

<!-- Responsive columns -->
<!-- https://bulma.io/documentation/columns/responsiveness/ -->
<ng-container *ngIf="repositories">
  <div class="columns" *ngIf="repositories.length > 0; else noRepoFound">
    <div *ngFor="let repo of repositories"
      class="column is-one-third-desktop is-one-fifth-widescreen is-half-tablet is-full-mobile">
      <app-repository [repo]="repo"></app-repository>
    </div>
  </div>
  <ng-template #noRepoFound>
    <p class="no-repo-found-message align-center capitalize-first-letter">sorry, no repositories found for this user.
      Please try with
      a
      different name.</p>
  </ng-template>
</ng-container>

<p *ngIf="isError" class="error-message capitalize-first-letter">There was an error loading repositories. Please try
  again!</p>

<div class="pagination-buttons" *ngIf="pages && pages.length > 0">
  <button class="button is-primary" *ngFor="let page of pages"
    (click)="getRepositories(page.url)">{{page.title}}</button>
</div>